.todo {
    &__item {
        // display: grid jest jest nowym featurem CSS3, warto w przyszłości się jej nauczyć.
        // przydaje się do układania layoutu
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        border: 1px solid rgba(0 ,0 ,0, .2);
        align-items: center;

        &--name {
            padding: 10px 20px;
        }
    }

    &__action-container {
        //jeden ze sposobów ustawienia elmentów jeden pod drugim
        // display: flex;
        // flex-direction: column;
    }

    &__button {
        width: 100%;
        display: block;
        grid-column: 4 / 5;
        margin-bottom: 10px;

        &:last-child{
            margin-bottom: 0;
        }
    }
}

.todo--done {
    text-decoration: line-through;
}