<div class="todo__item">
    <h4 class="todo__item--name" [ngClass]="{'todo--done': todo.isDone}">{{todo.name}}</h4>
    <span>{{todo.dateAdded}}</span>
    <span>{{todo.status}}</span>
    <div class="todo__action-container">
        <button class="todo__button" (click)="changeStatusClick()">&harr; Change status</button>
        <button class="todo__button">&#9998; Edit todo</button>
        <button class="todo__button">&#x2717; Delete todo</button>
    </div>
</div>
