<button>+ Add new Todo</button>
<ul class="todo__list">
    <li *ngFor="let todoItem of todoList; let i = index;">
        <app-todo-item (isDone)="changeStatusToParentClick($event, i)" [todo]="todoItem"></app-todo-item>
    </li>
</ul>
